h1{
    font-family:cursive;
    font-style: italic;

}

h2{
    color: crimson;
    font-family: cursive;
}

p{
    font-family: cursive;
    font-style: oblique;
    font-size: larger;
    color: black;
}

body{
    text-align: left;
    color:black;
}

 .fotoperfil2{
width: 40%;
 }
 
 .logo de hackclub{
position: inherit;
 }
    